/* Project colors */
$dark-gray: #1f2023;
$white: #ffffff;
$major-purple: #7027e2;
$light-gray: #f4f5f6;
$regular-gray: #494b52;
$placeholder-gray: #c5bfba;
$columns-gray: #F5F5F5;
$selected-row-green: #F3FFF9;

/* Quasar defaults */
$primary: $dark-gray;
$secondary: $white;
$accent: $major-purple;
$dark: $dark-gray;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
